* {
  box-sizing: border-box;
  margin: 0px;
}
body {
  background-color: #302f2e;
  height: 100vh;
  overflow: hidden;
}
/* Map chose */
.appear {
  animation: appear 2000ms ease-out;
}
.container1 {
  display: none;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: rgba(19, 18, 18, 0.7);
  z-index: 1;
}
.size {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  width: 385px;
}
.scale {
  transition: 1000ms;
}
.scale:hover {
  transform: scale(1.1);
}
.border {
  border-radius: 10px;
  overflow: hidden;
}
.border img {
  height: 100%;
  width: 100%;
  object-fit: cover !important;
}
.imgContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}
.txt1 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 36px;
  color: white;
}
.toptext {
  flex-grow: 3;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.midText {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
/* Main */
.container {
  position: relative;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
/* Images */
.image {
  position: absolute;
}
img {
  height: 100%;
  width: 100%;
}
/* TOOLS */
.btn {
  position: absolute;
  top: 75%;
  font-size: 34px;
  font-family: "Montserrat";
  z-index: 1;
  color: black;
  animation-name: btn;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  background-color: #fff2c2;
  border: none;
  border-radius: 5px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 350;
}
/* TEXT */
.text {
  font-family: "Montserrat";
  text-align: center;
  width: 25%;
  position: absolute;
  color: #fff;
  font-size: 34px;
  animation-name: text;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  z-index: 1;
}
.txt {
  text-align: center;
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 500;
  color: white;
}
.txt1 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 36px;
  color: white;
}
/* TOOLS ANIMATION*/
@keyframes text {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  80% {
    opacity: 20%;
  }
  85% {
    opacity: 40%;
  }
  90% {
    opacity: 60%;
  }
  95% {
    opacity: 80%;
  }
  100% {
    opacity: 1;
  }
}
@keyframes btn {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  80% {
    opacity: 20%;
  }
  85% {
    opacity: 40%;
  }
  90% {
    opacity: 60%;
  }
  95% {
    opacity: 80%;
  }
  100% {
    opacity: 1;
  }
}
/* IP13 PRO */
@media (max-width: 926px) {
  .phone {
    display: block;
  }
  .computer {
    display: none;
  }
  .text {
    width: 231px;
    font-size: 18px;
    z-index: 1;
  }
  .btn {
    font-size: 18px;
  }
}
