body{
    margin: 0;
    padding: 0;
    background-color: white;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.visible{
    display: flex;
}
.invisible{
    display: none;
}
.bigphoto{
    width: 75%;
}

.comment-q{
    z-index: 100;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    width: 856px;
    height: 155px;
    z-index: 100;
    backdrop-filter: blur(5.60732px);
    border-radius: 8.83907px 35.3563px;
    bottom: 0;
}
.comment{
    position: absolute;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.6);
    width: 856px;
    height: 155px;
    z-index: 100;
    backdrop-filter: blur(5.60732px);
    border-radius: 8.83907px 35.3563px;
    bottom: 0;
    justify-content: center;
}
.question{
    z-index: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-key{
    width: 50px;
}
.name{
    font-size: 26px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    margin-bottom: 15px;
    margin-left: 20px;
}
.answer{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 300;
    margin-bottom: 5px;
    margin-left: 20px;
    gap: 20px;
}
.answer img{
    width: 25px;
}
