body{
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #8B4444 0%, #E87777 100%);
    overflow: hidden;
}
.responsive{
    /* width: 100%; */
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.talk-by-boy{
    background-color: black;
    width: 33%;
    height: 10%;
    top: 0;
}
.visible{
    opacity: 100%;

}
.invisible{
    display: none;
}
.comment{
    display: none;
    position: absolute;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.6);
    width: 856px;
    height: 155px;
    z-index: 100;
    backdrop-filter: blur(5.60732px);
    border-radius: 8.83907px 35.3563px;
}
.comment-q{
    z-index: 100;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    width: 856px;
    height: 155px;
    z-index: 100;
    backdrop-filter: blur(5.60732px);
    border-radius: 8.83907px 35.3563px;
    bottom: 0;
}
.question{
    z-index: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-key{
    width: 13%;
}