* {
  box-sizing: border-box;
  margin: 0;
  font-weight:600;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  }
a{
  text-decoration: none;
}
body {
  overflow-y: scroll;
  overflow-x: hidden;
}
.header {
  position: relative;
  background: linear-gradient(90deg, #a2f4ff 0%, #80baf0 100%);
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* inner header */

.inner-header {
  position: relative;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* midphotos */
.earth {
  opacity: 0.2;
  position: absolute;
  width: 40%;
}
.ehand {
  position: absolute;
  right: 0;
  height: 100%;
}
.mainContainer {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* navbar */
.navbar {

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 24px 0;
}
.navbar :nth-child(1){
  text-align: center;
  font-weight: 400;
}
.navbar :nth-child(2){
  width: 15%;
}
.navbar :nth-child(3){
  text-align: center;
  font-weight: 300;
}
/* mid content */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;

}
.content h1 {
  text-align:justify;
  width: 70.9%;
  font-size: 64px;
  text-align:left;
}
.content p{
  text-align: justify;
  width: 37%;
  font-size:20px;
  font-weight: 500;
  text-align:left;
}

/* play button */

.play {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #509f7d;
  border-radius: 25px 0px;
  font-size: 25px;
  font-weight: 500;
  display: inline-flex;
  width: 16%;
  height: 8%;
  border: none;
  color: #fff;
  font-size: large;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;

}
.play :hover {
  color: black;
}
.play :active{
  color: #509f7d  ;
}
/* wave */

.wave {
  position: relative;
}
.wave svg {
  bottom:90%;
  position: absolute;
  width: 100%;
  height: 100px;
}
.wave div {
  background-color:  rgb(255, 255, 255);
  width: 100%;
  height: 100px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -25px;
  min-height: 100px;
  max-height: 100px;
}
.parallax > use {
  animation: moveForever 12s cubic-bezier(0.70, 0.90, 0.35, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 8s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 4 s;
}
.parallax > use:nth-child(4) {
  animation-delay: -3s;
  animation-duration: 5s;
}

/* keyframe */

@keyframes moveForever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(80px, 0, 0);
  }
}
.under-text {
  width: 25%;
  height: 1vh;
  font-family: Quicksand, "Segoe UI", sans-serif;
  text-align: center;
  font-weight: 300;
}