@media (max-width: 350px) {
  .earth {
    opacity: 0;
  }
  .navbar :nth-child(1) {
    text-align: center;
    font-weight: 400;
    font-size: 8px;
  }
  .navbar :nth-child(3) {
    text-align: center;
    font-weight: 400;
    font-size: 8px;
  }
  .content h1 {
    width: 100%;
    font-size: 15px;
    padding: 8px;
    margin: 0;
  }
  .content p {
    width: 100%;
    font-size: 10px;
    padding: 8px;
    margin: 0;
  }
  .play {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    background-color: #509f7d;
    border-radius: 20px 0px;
    font-size: 25px;
    font-weight: 500;
    width: 16%;
    height: 8%;
    border: none;
    color: #fff;
    font-size: large;
  }
  .ehand {
    opacity: 0;
  }
}
@media (max-width: 575px) {
  .earth {
    opacity: 0;
  }
  .navbar :nth-child(1) {
    text-align: center;
    font-weight: 400;
    font-size: 11px;
    padding: 8px;
  }
  .navbar :nth-child(2) {
    width: 24%;
  }
  .navbar :nth-child(3) {
    text-align: center;
    font-weight: 400;
    font-size: 11px;
    padding: 8px;
  }
  .content h1 {
    width: 100%;
    font-size: 30px;
    padding: 16px;
  }
  .content p {
    width: 100%;
    font-size: 15px;
    padding: 13px;
  }
  .play {
    width: 30%;
    height: 6%;
    font-size: 10px;
    border-radius: 10px 0px;
    margin: 16px;
  }
  .ehand {
    height: 60%;
    opacity: 0.6;
  }
}
@media (min-width: 576px) {
  .scrolled-big-img {
    width: 50%;
  }
  .earth {
    opacity: 0;
  }
  .navbar :nth-child(1) {
    text-align: center;
    font-weight: 400;
    font-size: 13px;
  }
  .navbar :nth-child(2) {
    width: 25%;
  }
  .navbar :nth-child(3) {
    text-align: center;
    font-weight: 400;
    font-size: 13px;
  }
  .content h1 {
    width: 80%;
    font-size: 24px;
    padding: 16px;
  }
  .content p {
    width: 80%;
    font-size: 15px;
    padding: 16px;
  }
  .play {
    width: 30%;
    height: 6%;
    font-size: 10px;
    border-radius: 10px 0px;
    margin: 16px;
  }
  .ehand {
    height: 70%;
  }
}
@media (min-width: 768px) {
  .earth {
    opacity: 0;
  }
  .navbar :nth-child(1) {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
  }
  .navbar :nth-child(2) {
    width: 20%;
  }
  .navbar :nth-child(3) {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
  }
  .content h1 {
    width: 80%;
    font-size: 36px;
    margin-left: 5px;
  }
  .play {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #509f7d;
    border-radius: 25px 0px;
    font-size: 25px;
    font-weight: 500;
    width: 30%;
    height: 7%;
    border: none;
    color: #fff;
    font-size: large;
  }
  .content p {
    width: 60%;
    font-size: 15px;
    margin-left: 5px;
  }
  .ehand {
    height: 80%;
  }
}
@media (max-width: 1200px) and (max-height: 450px) {
  *{
    overflow: hidden;
  }
  .earth {
    opacity: 0;
  }
  .inner-header{
    display: flex;
  }
  .navbar :nth-child(2) {
    width: 15%;
  }
  .content h1 {
    display: none;
  }
  .content p {
    display: none;
  }
  .wave div {
    background-color:  rgb(255, 255, 255);
    width: 100%;
    height: 0px;
  }
  .play {  
    justify-content: center;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
   }
  .ehand {
    height: 90%;
  }
}
@media (min-width: 992px) {
  .earth {
    opacity: 0;
  }
  .navbar :nth-child(1) {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
  }
  .navbar :nth-child(2) {
    width: 15%;
  }
  .content h1 {
    width: 80%;
    font-size: 48px;
    margin-left: 10px;
  }
  .content p {
    width: 50%;
    font-size: 20px;
    margin-left: 10px;
  }
  .play {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #509f7d;
    border-radius: 25px 0px;
    font-size: 30px;
    font-weight: 500;
    width: 20%;
    height: 7%;
    border: none;
    color: #fff;
    font-size: large;
  }
  .ehand {
    height: 90%;
  }
}
@media (min-width: 1200px) {
  .earth {
    opacity: 0.2;
  }
  .navbar :nth-child(1) {
    text-align: center;
    font-weight: 400;
  }
  .earth {
    opacity: 0.2;
  }
  .navbar :nth-child(3) {
    text-align: center;
    font-weight: 400;
  }
  .content h1 {
    width: 75%;
    font-size: 48px;
  }
  .content p {
    width: 62%;
    font-size: 25px;
  }
  .ehand {
    height: 100%;
  }
  .play {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #509f7d;
    border-radius: 25px 0px;
    font-size: 30px;
    font-weight: 500;
    width: 16%;
    height: 8%;
    border: none;
    color: #fff;
    font-size: large;
  }
}
@media (min-width: 1400px) {
  .content p {
    width: 60%;
    font-size: 25px;
  }
  .play {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #509f7d;
    border-radius: 25px 0px;
    font-size: 25px;
    font-weight: 500;
    width: 16%;
    height: 8%;
    border: none;
    color: #fff;
    font-size: large;
  }
}
@media (max-width: 390px) {
  .earth {
    opacity: 0.2;
    width: 55%;
  }
  .navbar :nth-child(1) {
    text-align: center;
    font-weight: 400;
    font-size: 8px;
    padding: 6px;
  }
  .navbar :nth-child(2) {
    width: 30%;
  }
  .navbar :nth-child(3) {
    text-align: center;
    font-weight: 400;
    font-size: 8px;
    padding: 6px;
  }
  .content h1 {
    width: 100%;
    font-size: 20px;
    padding: 8px;
    margin: 0;
    text-align: center;
  }
  .content p {
    width: 100%;
    font-size: 10px;
    padding: 8px;
    margin: 0;
    text-align: center;
  }
  .play {
    align-items: center;
    font-weight: 500;
    border: none;
    color: #fff;
    font-size: 12px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 10;
    font-weight: 500;
    background-color: #509f7d;
    border-radius: 20px 0px;
    width: 30%;
    height: 11%;

    margin-left: auto;
    margin-right: auto;
  }
  .ehand {
    opacity: 0;
  }
}
