body{
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #8B4444 0%, #E87777 100%);
    align-items: center;
    justify-content: center;
}
.responsive{
    width: 75%;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 1px solid black;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.talk-by-boy{
    background-color: black;
    width: 33%;
    height: 10%;
    top: 0;
}