* {
  box-sizing: border-box;
  margin: 0px;
}
body {
  background-color: #302f2e;
  height: 100vh;
  overflow: hidden;
}
/* Main */
.container {
  position: relative;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}
.text {
  font-family: "Montserrat";
  text-align: center;
  width: 25%;
  position: absolute;
  color: #fff;
  font-size: 34px;
  animation-name: text;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  z-index: 1;
}
.animation {
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
/* Images */
.image {
  position: absolute;
}
img {
  height: 100%;
  width: 100%;
}
.phone {
  display: none;
}
/* Phone */
.pos1 {
  animation-name: p1;
  top: 0;
  left: 0;
  height: 100%;
}
.pos2 {
  animation-name: p2;
  height: 100%;
  top: 0px;
  left: 0px;
}
.pos3 {
  animation-name: p3;
  height: 100%;
  top: 0px;
  left: 0px;
}
.pos4 {
  animation-name: p4;
  top: 0px;
  left: 0px;
}
.pos5 {
  animation-name: p5;
  top: 0px;
  right: -5px;
}
.pos6 {
  animation-name: p6;
  bottom: -5px;
  right: 25%;
}
.pos7 {
  animation-name: p7;
  bottom: 0px;
  right: 0px;
}
.pos8 {
  animation-name: p8;
  bottom: -5px;
  right: 0px;
}
/* PHONE ANIMATION */
@keyframes p8 { 
  0% {
    right: 0px;
    bottom: -5px;
  }
  100% {
    right: -50px;
    bottom: -50px;
  }
}
@keyframes p7 { 
  0% {
    right: 0px;
    bottom: 0px;
  }
  100% {
    right: -50px;
    bottom: 0px;
  }
}
@keyframes p6 { 
  0% {
    right: 25%;
    bottom: -5px;
  }
  100% {
    right: 22%;
    bottom: -50px;
  }
}
@keyframes p5 { 
  0% {
    right: -5px;
    top: 0px;
  }
  100% {
    right: -50px;
    top: -50px;
  }
}
@keyframes p4 { 
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: -50px;
    top: -25px;
  }
}
@keyframes p3 { 
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: -50px;
    top: 0px;
  }
}
@keyframes p2 { 
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: -100px;
    top: -50px;
  }
}
@keyframes p1 { 
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: -100px;
    top: -50px;
  }
}
/* DESKTOP */
.computer {
  display: block;
}
.c1 {
  animation-name: c1;
  top: 0px;
  left: 0px;
}
.c2 {
  animation-name: c2;
  top: 0px;
  left: 0px;
}
.c3 {
  animation-name: c3;
  top: 0px;
  left: 0px;
}
.c4 {
  animation-name: c4;
  top: 0px;
  left: 0px;
}
.c5 {
  animation-name: c5;
  top: 0px;
  left: 0px;
}
.c6 {
  animation-name: c6;
  bottom: 2%;
  right: 14%;
}
.c7 {
  animation-name: c7;
  width: 10%;
  bottom: -5px;
  left: 33%;
}
.c8 {
  animation-name: c8;
  bottom: -5px;
  left: 10%;
}
.c9 {
  animation-name: c9;
  top: 0px;
  right: 0px;
}
.c10 {
  animation-name: c10;
  top: 0px;
  right: -5px;
}
.c11 {
  animation-name: c11;
  bottom: -5px;
  right: 0px;
  height: 75%;
  width: 85%;
}
.c12 {
  animation-name: c12;
  bottom: 0px;
  left: 0px;
}
.c13 {
  animation-name: c13;
  width: 75%;
  bottom: -5px;
  left: 10%;
}
.vib { 
  animation-name: vibrate-1;
  animation-delay: 1.5s;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite ;
}

.btn {
  position: absolute;
  top: 75%;
  font-size: 34px;
  font-family: "Montserrat";
  z-index: 1;
  color: black;
  animation-name: btn;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  background-color: #fff2c2;
  border: none;
  border-radius: 5px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 350;
}
/* DESKTOP ANIMATION */
@keyframes c11 {
  0% {
    right: 0px;
    bottom: 0px;
  }
  100% {
    right: -300px;
    bottom: -100px;
  }
}
@keyframes c12 {
  0% {
    left: 0px;
    bottom: 0px;
  }
  100% {
    left: -100px;
    bottom: -100px;
  }
}
@keyframes c10 {
  0% {
    right: 0px;
    top: 0px;
  }
  100% {
    right: -300px;
    top: -100px;
  }
}
@keyframes c9 {
  0% {
    right: 0px;
    top: 0px;
  }
  100% {
    right: 0px;
    top: -100px;
  }
}
@keyframes c8 {
  0% {
    left: 10%;
    bottom: 0px;
  }
  100% {
    left: 10%;
    bottom: -100px;
  }
}
@keyframes c7 {
  0% {
    left: 33%;
    bottom: 0px;
  }
  100% {
    left: 35%;
    bottom: -100px;
  }
}
@keyframes c13 {
  0% {
    left: 10%;
    bottom: 0px;
  }
  100% {
    left: 15%;
    bottom: -200px;
  }
}
@keyframes c6 {
  0% {
    right: 14%;
    bottom: 0px;
  }
  100% {
    right: 14%;
    bottom: -75px;
  }
}
@keyframes c5 {
  0% {
    left: 0%;
    top: 0px;
  }
  100% {
    left: -100px;
    top: -75px;
  }
}
@keyframes c4 {
  0% {
    left: 0%;
    top: 0px;
  }
  100% {
    left: -150px;
    top: -30px;
  }
}
@keyframes c3 {
  0% {
    left: 0%;
    top: 0px;
  }
  100% {
    left: -150px;
    top: -30px;
  }
}
@keyframes c2 {
  0% {
    left: 0%;
    top: 0px;
  }
  100% {
    left: -150px;
    top: -30px;
  }
}
@keyframes c1 {
  0% {
    left: 0%;
    top: 0px;
  }
  100% {
    left: -150px;
    top: -30px;
  }
}
@keyframes vibrate-1 {
  0% {
            transform: translate(0);
  }
  20% {
            transform: translate(-2px, 2px);
  }
  40% {
            transform: translate(-2px, -2px);
  }
  60% {
            transform: translate(2px, 2px);
  }
  80% {
            transform: translate(2px, -2px);
  }
  100% { 
            transform: translate(0);
  }
}
@keyframes text {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  80% {
    opacity: 20%;
  }
  85% {
    opacity: 40%;
  }
  90% {
    opacity: 60%;
  }
  95% {
    opacity: 80%;
  }
  100% {
    opacity: 1;
  }
}
@keyframes btn {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  80% {
    opacity: 20%;
  }
  85% {
    opacity: 40%;
  }
  90% {
    opacity: 60%;
  }
  95% {
    opacity: 80%;
  }
  100% {
    opacity: 1;
  }
}
/* IP13 PRO */
@media (max-width: 926px) {
  .phone {
    display: block;
  }
  .computer {
    display: none;
  }
  .text {
    width: 231px;
    font-size: 18px;
    z-index: 1;
  }
  .btn {
    font-size: 18px;
  }
}
