.first-text{
  font-size: 30px;
}
.scrolled-group-text {
  margin: 48px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  font-size: 25px;
}
.under-img-1 {
  width: 30px;
}
.under-img {
  width: 50px;
}

.header-text{
  font-size: 36px;
  margin-top: 40px;
  width: 100%;
}
.midder-text{
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.
.from {
  font-size: 14px;
  opacity: 0.6;
  display: flex;
  margin: 0;
}
.green-text{
  width: 100%;
  background-color: #1FAD66;
  opacity: 0.8;
}
.green-text div{
  justify-content: center;
}
.green-text-head{
  color: white;
  text-align:center;
  font-size: 48px;
  font-weight: 400;
  padding-bottom: 30px;
  padding-top: 60px;
}
.green-text-mid{
  color: white;
  font-size: 32px;
  font-weight: 300;
  width: 100%;
  margin: auto;
  padding-bottom: 200px;
}
.last-text{
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.last-text-back{
  background-color: #1FAD66;
  opacity: 0.8;
}
.under-logo{
  padding: 32px;
}
.last-text-of-us{
  padding: 24px;
  font: 500;
  font-size: 30px;
}
.last-text-of-us-little-font{
  padding: 24px;
  font: 100;
  font-size: 20px;
}
.work-with-us a{
  color: black;
  display: inline-block;
  justify-content: space-around;
}
.last-text-of-us2{
  padding: 24px;
  font: 300;
  font-size: 30px;
}
.logo-of-about{
  width: 50px;
}
.inner-logo{
  display: flex;
  justify-content: space-around;
}


