*{
    box-sizing: border-box;

    margin: 0px;
    padding: 0px;

    font-family: 'Montserrat';
    font-style: normal;

    background: #EFFFE8;
}
div{
    border: 0px solid black;
}
    /* element styles */

    div.container{
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding-top: 30px;
    }
        div.blockOne{
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        div.title{
            width: 1230px;
        }
        div.blockTwo{
            width: 100%;

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        } 
            img#teamPhoto{
                width: 613px;
                height: 370px;
            }
            div.teamDescription{
                width: 613px;
                height: 370px;

                padding: 20px;
                padding-top: 0px;
            }
    div.memberCardContainer{
        width: 100%;
        display: flex;
        flex-wrap: unwrap;
        justify-content: center;
    }
        div.memberCard{
            display: flex;
            flex-direction: column;
            align-items: center;

            width: 175px;
            height: 270px;

            margin: 10px;
            padding: 3px;

            border-radius: 4px;

            background:#756FB3;
        }
            img.memberPhoto{
                width: 170px;
            }
            p.memberName{
                font-weight: 500;
                font-size: 17px;
                line-height: 33px;

                background:#756FB3;
                color: white;
            }
            p.memberRole{
                font-weight: 500;
                font-size: 11px;

                background:#756FB3;
                color: #A79EFF;
            }
            
            /* text styles */

            p.thirtySixpxSemibold{
                font-weight: 600;
                font-size: 36px;
                line-height: 44px;
            }
            p.twentypxMedium{
                font-weight: 600;
                font-size: 26px;
                line-height: 44px;  
            }
            p.twentySixpxSemibold{
                font-weight: 600;
                font-size: 26px;
                line-height: 44px;
            }
            p.twentypxMedium{
                font-weight: 500;
                font-size: 20px;
                line-height: 44px;
            }
            span.spacing{
                line-height: 2;
            }

@media only screen and (max-width: 1250px) {
    div.bigBlock{
        width: 610px;
    }
    div.container{
        align-items: center;
    }
    div.teamDescription{
        margin-top: 20px;
        padding-left: 0px;
        height: fit-content;
    }
}

@media only screen and (max-width: 1410px) {
    div.memberCardContainer{
        flex-wrap: wrap;
    }
}