* {
  user-select: none;  
}
body {
  margin: 0;
  background-color: black;
  overflow-y: hidden;
  overflow-x: hidden;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.outer {
  display: flex;
  /* margin-right: 40px; */
}
.fonts {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
#canva {
  position: relative;
  
}
.vector {
  position: absolute;
  z-index: 1;
}
img {
  width: 40px;
  height: 40px;

}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.timerCont {
  display: flex;
  justify-content: center;
}
.timer {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  
}
.scoreCont {
  display: flex;
}
 img:focus {
  outline: none;
}
.pause {
  position: absolute;
  /* top: 0px; */
  /* left: 0px; */
  width: 200px;
  height: 100px;
  padding: 20px;
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;

}
.pauseInner {
  color: white;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}
.menu {
  margin: 10px;
  color: white;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

