*{
    margin: 0px;
    padding: 0px;

    background-color: #EFFFE8;
    box-sizing: border-box;
}
a{
    background-color: transparent;
    text-decoration: none;
    color:  white;
}
div{
    border: 0px solid black;
}
.container
{
    height: 100vh;
    padding: 20px;  

    display: flex;  
    flex-direction: column;     
    align-items: center;
}
.a{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}
.aa{
    margin-bottom: 20px;
}
.ab{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.b{
    display: flex;
    max-width: 900px;
}
img#teamBigFatPhoto{
    width: 50%;
    min-width: 440px;
    max-width: 599px;
}
.abb{
    width: 50%;
    max-width: 580px;
    min-width: 440px;
    padding: 10px;
    padding-left: 20px;
}