*{
    margin: 0px;
    padding: 0px;

    background-color: transparent;
    box-sizing: border-box;
}
a{
    background-color: transparent;
    text-decoration: none;
    color:  white;
}
div{
    border: 0px solid black;
}
img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}
.container
{
    background: linear-gradient(90deg, #a2f4ff 0%, #80baf0 100%);

    height: 100vh;

    display: flex;  
    flex-direction: column;     
    align-items: center;
}
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    font-size: 20px;
  }
  .navbar :nth-child(1){
    text-align: center;
    font-weight: 400;
  }
  .logo{
    width: 200px;
  }
  .navbar :nth-child(3){
    text-align: center;
    font-weight: 400;
  }
.white{
    padding: 20px;
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.wave{
    height: 300px;
    background: linear-gradient(90deg, #a2f4ff 0%, #80baf0 100%);
    width: 100%;
    margin-top: 60px;
}
.a{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.aa{
    margin-bottom: 20px;
}
.ab{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.wave {
    position: relative;
  }
  .wave svg {
    bottom:90%;
    position: absolute;
    width: 100%;
    height: 100px;
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .waves {
    position: relative;
    width: 100%;
    margin-bottom: -25px;
    height: 100px;
  }
  .parallax > use {
    animation: moveForever 12s cubic-bezier(0.70, 0.90, 0.35, 0.5) infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 8s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 4 s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -3s;
    animation-duration: 5s;
  }
.b{
    display: flex;
}
img#teamBigFatPhoto{
    width: 50%;
    min-width: 440px;
    max-width: 599px;
    border-radius: 10px;
}
.abb{
    width: 50%;
    max-width: 580px;
    min-width: 440px;
    padding: 10px;
    padding-left: 20px;
}
/* keyframe */

@keyframes moveForever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(80px, 0, 0);
    }
  }